.fadedtext {
  -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
}

.job-container {
  padding: 10px;
  display: flex;
  /* height: 100vh; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
